.content_card_centered {
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 0 10px black;

  border-radius: 20px;

  width: clamp(300px, 85vw, 1350px);
  padding: clamp(5px, 5vw, 25px);

  background: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);

  color: white;
  text-shadow: 0 0 3px black;
  font-size: 22px;

  margin-bottom: 65px;
}

.page_container {
  background: url("./assets/lighter_backdrop1.png") center/cover no-repeat;
  padding-bottom: 5px;
  padding-top: 60px;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  .page_container {
    background: url("./assets/backdrop1.png") center/cover no-repeat;
  }
}

.TechStack h3 {
  margin-left: auto;
  margin-right: auto;
}

.TechStack img {
  margin-left: auto;
  margin-right: auto;
}
